<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Find your paw from here</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="../static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="../static/css/landing-page.min.css" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138599826-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-138599826-1');
  </script>

</head>


  <!-- Navigation -->
{% block navbar %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><img src="../static/icon_dogfindus_1.png" alt="dogfind.logo" height="30"></a>
  <a class="navbar-brand" href="/">DogFind.us</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/" onclick="gtag('event', 'click', {'event_category':'link', 'event_label':'home', 'value':6});">Home <span class="sr-only">(current)</span> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/upload" style="color:#FFFFFF;" onclick="gtag('event', 'click', {'event_category':'link', 'event_label':'search_dog', 'value':7});"> Search Dog </a>
      </li>
      <li class="nav-item">
          {% if current_user.is_anonymous %}
           <a class="nav-link" href="{{ url_for('register') }}" style="color:#FFFFFF;" onclick="gtag('event', 'click', {'event_category':'link', 'event_label':'register', 'value':4});"> Register </a>
          {% endif %}
      </li>
      <li class="nav-item">
          {% if not current_user.is_anonymous %}
           <a class="nav-link" href="{{ url_for('register') }}" style="color:#FFFFFF;" onclick="gtag('event', 'click', {'event_category':'link', 'event_label':'register', 'value':10});"> Search History </a>
          {% endif %}
      </li>
      <li class="nav-item">
          {% if current_user.is_anonymous %}
           <a class="nav-link" href="{{ url_for('login') }}" style="color:#FFFFFF;" onclick="gtag('event', 'click', {'event_category':'link', 'event_label':'login', 'value':2});"> Login </a>
          {% else %}
           <a class="nav-link" href="{{ url_for('logout') }}" style="color:#FFFFFF;" onclick="gtag('event', 'click', {'event_category':'link', 'event_label':'logout', 'value':5});"> Logout </a>
          {% endif %}
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

<body>



  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Lost your paw?</h1>
            <h1 class="mb-5">Adopting a new dog?</h1>
            <h2 class="mb-5">Upload a photo of your dog and we'll do the searching.</h2>
            <h3 class="mb-5">Currently serving San Francisco.</h3>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form method="POST" enctype="multipart/form-data">
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                {{ form.csrf_token }} <!--  render the form's CSRF field like normal. -->
                {{ form.file_selector }}
              </div>
              <div class="col-12 col-md-3">
                {{ form.submit }}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>Show us the dog you are looking for</h3>
            <p class="lead mb-0">It's easy! Just upload an image!</p>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3>We'll find dogs that look alike</h3>
            <p class="lead mb-0">We search the web and find dogs ready to be adopted!</p>
          </div>
        </div>


          <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-bell m-auto text-primary"></i>
            </div>
            <h3>Register so we can keep an eye out for your paw</h3>
            <p class="lead mb-0">When new dogs show up in shelters, we'll update you!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../static/img/bg-dog-2.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Find Lost Dog</h2>
          <p class="lead mb-0">Our mission at DogFind.us is reuniting mankind with his/her best friend. Dogs get lost and may end up in a shelter for a long time. We help people find lost their dog.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('../static/img/bg-dog-1.jpeg');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>The First Step for Adopting a New Dog.</h2>
          <p class="lead mb-0"> Saw a cute dog somewhere and want to adopt one that looks like it? We just need a photo. </p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../static/img/bg-ai-1.jpeg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Powered by AI</h2>
          <p class="lead mb-0">We use a state-of-the-art deep learning algorithm to simplify the search process.</p>
        </div>
      </div>
    </div>
  </section>




  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <p class="text-muted small mb-4 mb-lg-0">&copy; DogFind.us 2019. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
