<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ url_for('index') }}">
    <img src={{ url_for('static',filename='icon_dogfindus_1.png') }} height="30" class="d-inline-block align-top" alt="">
    DogFind.us
  </a>
</nav>

<div class="navbar navbar-dark bg-dark navbar-inverse" role="navigation" >
    <a href="{{ url_for('index') }}" style="color:#FFFFFF;" onclick="gtag('event', 'click', {'event_category':'link', 'event_label':'home', 'value':6});"> Home </a>
    {% if current_user.is_anonymous %}
    <a href="{{ url_for('login') }}" style="color:#FFFFFF;" onclick="gtag('event', 'click', {'event_category':'link', 'event_label':'login', 'value':2});"> Login </a>
    {% else %}
    <a href="{{ url_for('logout') }}" style="color:#FFFFFF;" onclick="gtag('event', 'click', {'event_category':'link', 'event_label':'logout', 'value':5});"> Logout </a>
    {% endif %}
</div>